body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

h1 {
  font-family: 'Bree Serif', serif;
  color: #472905;
  font-size: 2rem;
}
p, a, hr {
  font-family: 'Montserrat', sans-serif;
  color: #472905;
}

/* CARD */

.card {
  background-color: #fff2fa;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.card-content {
  padding: 1rem 2rem;
}

/* IMAGE */

.card-image {
  margin: 2rem 0 0 0;
  height: auto;
  width: 50%;
}
/* HEADING */

.card-heading {
  margin: 1rem 0;
}

/* BUTTONS */

.card-buttons {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
}
.button {
  margin: 1rem;
  padding-top: 13px;
  background-color: #e3f0ff;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 45px;
  border: none;
  text-decoration: none;
  align-self: center;
}
.button:hover {
  color: rgba(71, 41, 5, 0.5);
  background-color: #e8f3ff;
  transition: .2s;
}

.fa-brands {
  margin: 0 20px 0 0;
}

/* DIVISION */

.card-division {
  margin: 0 0 2rem 0;
}
.card-or {
  font-size: .7rem;
}

/* MORE */

.card-email-button {
  text-decoration: none;
  font-size: .8rem;
  margin: auto;
  position: relative;
  bottom: 20px;
}
.card-email-button:hover {
  color: rgba(71, 41, 5, 0.5);
  transition: .2s;
}

/* MEDIA */

@media screen and (min-width: 375px) {
  .card {
    margin: 0 20px;
  }
}


/* sign up page */

input {
  width: 90%;
  padding: .3rem;
}

.card-form {
  margin: .5rem;
  padding: .5rem;
}

.card-text {
  text-align: left;
  padding-left: .4rem;
  margin: .5rem;
}
